<div class="row" data-toggle="isotope">
    <%user.groups.forEach(function (group) {%>
    <div class="item col-xs-12 col-sm-6 col-lg-4">
        <div class="panel panel-default paper-shadow" data-z="0.5">
            <div class="cover overlay cover-image-full hover">
                <span class="img icon-block height-150 bg-default"></span>
                <a href="/groups/<%= group._id %>" class="padding-none overlay overlay-full icon-block bg-default">
                                    <span class="v-center">
                                         <img src="<%= group.image%>" class="img-thumbnail" alt="Image" width="304" height="236">
                                    </span>
                </a>
                <a href="/groups/<%= group._id %>" class="overlay overlay-full overlay-hover overlay-bg-white">
                                    <span class="v-center">
                                        <span class="btn btn-circle btn-white btn-lg"><i class="fa fa-graduation-cap"></i></span>
                                    </span>
                </a>
            </div>
            <div class="panel-body">
                <h4 class="text-headline margin-v-0-10"><a href="/groups/<%= group._id %>"><h4><%= group.name%></h4></a></h4>
                <p class="small margin-none">
                    <span class="fa fa-fw fa-star text-yellow-800"></span>
                    <span class="fa fa-fw fa-star text-yellow-800"></span>
                    <span class="fa fa-fw fa-star text-yellow-800"></span>
                    <span class="fa fa-fw fa-star-o text-yellow-800"></span>
                    <span class="fa fa-fw fa-star-o text-yellow-800"></span>
                </p>
            </div>
            <hr class="margin-none" />
            <div class="panel-body">
                <div class="media v-middle">
                    <div class="media-left">
                        <img src="<%=group.admin.userimage%>" alt="People" class="img-circle width-40"/>
                    </div>
                    <div class="media-body">
                        <h4><a href="#"><%=group.admin.username%></a><br/></h4>
                        Instructor
                    </div>
                </div>
            </div>
            <%if(group.admin.id.equals(currentUser._id)){%>
            <div class="panel-body">
                <a class="btn btn-blue btn-flat paper-shadow relative btn-lg" data-z="0" data-hover-z="1" data-animated href="/groups/<%= group._id %>/edit">
                    <i class="fa fa-fw fa-edit"></i>Edit Group
                </a>
                <form id="delete-form" action="/groups/<%= group._id%>?_method=DELETE" method="POST">
                    <button class="btn btn-danger btn-flat paper-shadow relative btn-lg" data-z="0" data-hover-z="1" data-animated >
                        <i class="fa fa-fw fa-trash"></i> Delete
                    </button>
                </form>
            </div>
            <%} else{%>
            <div class="panel-body">
                <a class="btn btn-white btn-flat paper-shadow relative btn-lg" data-z="0" data-hover-z="1" data-animated href="/groups/<%= group._id %>">
                    <i class="fa fa-fw fa-forward"></i>Go to Group
                </a>
            </div>
            <%}%>
        </div>
    </div>
    <% }); %>
    <%if(currentUser.usertype <= 1){%>
    <div class="item col-xs-12 col-sm-6 col-lg-4">
        <div class="panel panel-default paper-shadow" data-z="0.5">
            <div class="cover overlay cover-image-full hover">
                <span class="img icon-block height-150 bg-grey-200"></span>
                <a href="/groups/new" class="padding-none overlay overlay-full icon-block bg-grey-200">
                                              <span class="v-center">
                                                   <i class="fa fa-plus text-grey-600"></i>
                                              </span>
                </a>
            </div>
        </div>
    </div>
    <%}%>
    <br/>
    <br/>
</div>
