<!DOCTYPE html>
<html lang="en">
<head>
  <title>Web Project</title>
    <link rel="stylesheet" href="/stylesheets/landing.css">
    <link href="https://fonts.googleapis.com/css?family=Baloo+Bhaina" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>
<body>

<%include partials/navbar%>


    <div class="page-section">
        <% if (currentUser) { %>
        <% if (currentUser.usertype <= 1) { %>
        <p>
            <a class="btn btn-secondary pull-right" href="/groups/new">Add new Group</a>
        </p>
        <% } %>
        <% } %>
        <div class="page-title">
           <h1 class="title"> Welcome to AIN SHAMS Discusion Board</h1>
        </div>
    </div>

<%include partials/messages%>


        <%groups.forEach(function (group) {%>
            <div class="card" >
                <img src="<%=group.image%>" class="card-img-top" alt="card image"><hr>
                <div class="overlay">
                    <div class="text">
                        <a href="/groups/<%= group._id %>" class="btn btn-success" >Visit Group</a>
                        <br><br>
                        <a href="/groups/request/<%= group._id %>" class="btn btn-primary">Join Group</a>
                    </div>
                </div>
                <div class="card-block">
                    <h4 class="card-title" style="text-align: center;"> <%=group.name%></h4><hr>
                    <img src="<%=group.admin.userimage%>" alt="admin image" width="50px" height="50px" style="margin-left: 9%">
                    <br><br>
                    <p class="card-text" style="margin-left: 30px;"> <%=group.admin.username%> Is the Admin</p>
                    <a href="/groups/<%= group._id %>" class="btn btn-success" style="margin-left: 15px; margin-right: 90px; margin-bottom: 10px;">Visit Group</a>
                    <a href="/groups/request/<%= group._id %>" class="btn btn-primary" style="margin-right: 10px; margin-bottom: 10px; ">Join Group</a>
                 </div>
             </div>
        <% }); %>



     <div class="footer">
        <span>Copyrights © 2017 all right reserved for <br>Learning managment System Team</span>
        <ul>
            <a href="www.googleplus.com" > <li><i class="fa fa-google-plus" aria-hidden="true"></i></li></a>
            <a href="www.linkedin.com" > <li><i class="fa fa-linkedin" aria-hidden="true"></i></li></a>
        </ul>
    </div>


</body>
</html>
