<!--page header-->
<div class="parallax overflow-hidden bg-white page-section third">
    <div class="container parallax-layer" data-opacity="true">
        <div class="media v-middle">
            <div class="media-left text-center">
                <a href="#"><img src="<%=currentUser.image%>" alt="people" class="img-circle width-80"/></a>
            </div>
            <div class="media-body">
                <h1 class="text-white text-display-1 margin-v-0"><%=currentUser.firstname%>  <%=currentUser.lastname%></h1>
                <p class="text-subhead"><a class="link-blue text-underline" href="/profile">View public profile</a></p>
            </div>
            <div class="media-right">
                <% if (currentUser.usertype <= 1) { %>
                <span class="label"><h4>Instructor</h4></span>
                <% } else{ %>
                <span class="label"><h4>Student</h4></span>
                <%}%>
            </div>
        </div>
    </div>
    <br>
    <!--messages-->
    <div class="row">
        <div class="col-md-12">
            <div class="container">
                <% if (error && error.length > 0) { %>
                <div class="alert alert-danger" role="alert"><%= error %></div>
                <% } %>
                <% if (success && success.length > 0) { %>
                <div class="alert alert-success" role="alert"><%= success %></div>
                <% } %>
            </div>
        </div>
    </div>
</div>
