<% include ../partials/template/header %>


<% include ../partials/template/navbar %>

<% include ../partials/template/post-header %>


<div class="container">
    <div class="page-section">

        <div class="row">
            <div class="col-md-8 col-lg-9">

                <div class="page-section padding-top-none">
                    <div class="s-container">
                        <div class="media-left">

                            <h4>
                                <a href="#"><img src="<%=Post.author.userimage%>" alt="user image" height="50px" width="50px"> <%= Post.author.username%></a>
                            </h4>
                        </div>

                        <p class="text-light text-caption">
                            <i class="fa fa-clock-o fa-fw"></i> <%= Post.created.toDateString()%>...
                        </p>
                    </div>
                    <br/>
                    <h2><%= Post.content %></h2>
                    <img  src="<%= Post.image%>" alt="image"/>

                </div>


                <h5 class="text-subhead-2 text-light">Comments</h5>

                <form action="/groups/<%=Group_id%>/posts/<%=Post._id%>/comments" method="POST" >
                    <div class="form-group input-group">
                        <input type="text" class="form-control" name="content" placeholder="Your comment ..">
                        <span class="input-group-btn">
                             <button class="btn btn-primary" type="submit"> Comment </button>
                        </span>
                    </div>
                </form>

                <% Post.comments.forEach(function(comment) {  %>

                <div class="media s-container">
                    <a class="media-left" href="#"><img class="media-object" src="<%=comment.author.userimage %>"  style="width: 50px; height: 50px;" alt="people"/></a>
                    <div class="media-body">
                        <div class="panel panel-default">
                            <div class="panel-body">
                                <small class="text-grey-400 pull-right"><%= comment.created.toDateString() %></small>
                                <h5 class="media-heading margin-v-5"><%=comment.author.username %></h5>
                                <p class="margin-none"><%= comment.content %></p>

                                <% if(currentUser && comment.author.id.equals(currentUser._id)){ %>
                                <a class="btn btn-xs btn-warning" href="/groups/<%= Group_id %>/posts/<%= Post._id %>/comments/<%=comment._id%>/edit">Edit</a>
                                <form id="delete-form" action="/groups/<%= Group_id %>/posts/<%= Post._id %>/comments/<%=comment._id%>?_method=DELETE" method="POST">
                                    <button class="btn btn-xs btn-danger">Delete</button>
                                </form>
                                <% } %>

                            </div>
                        </div>
                    </div>
                </div>

                <% }); %>
                <!--  end of Comments -->


            </div>

            <div class="col-md-4 col-lg-3">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div class="form-group form-control-material">
                            <input id="forumSearch" type="text" class="form-control" placeholder="Type to search"/>
                        </div>
                        <a href="#" class="btn btn-inverse paper-shadow relative" data-z="0.5" data-hover-z="1">Search</a>
                    </div>
                </div>
                <% include ../partials/template/components/group-requests %>

                <% include ../partials/template/components/group-info-component %>
            </div>
        </div>
    </div>
</div>

<% include ../partials/template/footer.ejs %>